@page
@model DocPatientPortal.Views.Admin_Doctors.View_DoctorsModel
@{
    Layout = "_LayoutAdmin";
}
<br />  

<table class="table table-dark table-hover table-responsive">
    <thead>

        <tr>
            <th>sn</th>
            <th>Name</th>
            <th>Disease</th>
            <th>Blood Group</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Update/Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Harry potter</td>
            <td>Asthama</td>
            <td>O+ve</td>
            <td>+91 9845784125</td>
            <td>abcd@gmail.com</td>
            <td><a class="btn btn-warning">Update</a>   <a class="btn btn-danger"> Delete </a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>John Snow</td>
            <td>Cancer</td>
            <td>O+ve</td>
            <td>+91 988056987</td>
            <td>john29@gmail.com</td>
            <td><a class="btn btn-warning">Update</a>   <a class="btn btn-danger"> Delete </a></td>
        </tr>
    </tbody>
</table>