@page
@model DocPatientPortal.Views.SignUp.IndexModel
@{
    Layout = null;
}
<p> This is the first page when you enter the URL for the First Time</p>
<form asp-controller="Home" asp-action="Index">

<button>LOGIN</button>
</form>