@{
Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>this is a new default layout</p>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
