


.front, .back {
    /*background-color: rgba(0,0,0,.3);*/
    position: absolute;
    padding: 10px 30px;
    top: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
}

.flipbutton {
    color: #4096ee;
    text-decoration: none;
    text-align: left !important;
}





