@page
@model DocPatientPortal.Views.Blood.UpdateModel
@{
    Layout = "_LayoutAdmin";
}
<form method="post" asp-controller="Blood" asp-action="UpdateData">
    <input type="text" name="pid" value="@ViewBag.UpdateData.pid" hidden />
    <input type="text" name="pname" value="@ViewBag.UpdateData.pname" />
    <input type="text" name="paddress" value="@ViewBag.UpdateData.paddress" />
    <input type="text" name="pblood" value="@ViewBag.UpdateData.pblood" />
    <input type="submit" name="submit" value="Update" />

</form>