@page
@model DocPatientPortal.Views.DoctorList.IndexModel
@{
    Layout = "_LayoutPatient";
}
<br />

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
            $("ul li.mark").css("background", "yellow");
            $("ul li#red").css("background", "red");
            
        });
    </script>
}

<ul type="circle">
    <li class="mark"> hello</li>
    <li class="mark"> hy</li>
    <li id="red">highlight this</li>

</ul>


<table class="table table-secondary table-hover " id="datatable">
    <thead>

        <tr>
            <th>sn</th>
            <th>Name</th>
            <th>Speciality</th>
            <th>Phone number</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>abcd</td>
            <td>Bone</td>
            <td>+91 9845784125</td>
            <td>abcd@gmail.com</td>

        </tr>
        <tr>
            <td>2</td>
            <td>efgh</td>
            <td>Skin</td>
            <td>+91 984556825</td>
            <td>efgh@gmail.com</td>

        </tr>
    </tbody>
</table>