@page
@model DocPatientPortal.Views.Teacher.IndexModel
@{
    Layout = null;
}
<body>
    <form method="post" asp-controller="Teacher" asp-action="insert">
        <label>name</label>
        <input type="text" name="name" placeholder="enter your name" />

        <label>email</label>
        <input type="text" name="email" placeholder="enter your email"  />

        @*<label>level</label>
        <input type="text" name="level" placeholder="enter the level of teacher" />*@

        <input type="submit" name="submit" value="Insert" />
    </form>
</body>