@page
@model DocPatientPortal.Views.Admin_Appointment.View_AppointmentModel
@{
    Layout = "_LayoutPractice";
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatablejquery').DataTable();

        });
    </script>
}
<br />
<table class="table table-hover datatablejquery">
    <thead class="thead-dark">

        <tr>

            <th>#</th>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Date</th>

        </tr>
    </thead>
    <tbody>
        @{ var i = 1;}
        @foreach (var item in ViewBag.allappointmenttoday)
        {

            <tr>

                <td>@i</td>
                <td>@item.doctor_name</td>
                <td>@item.patient_name</td>
                <td>@item.adate.ToString("dd/MM/yyyy")</td>
            </tr>
            i++;
        }

    </tbody>
</table>