@page
@model DocPatientPortal.Views.Practice.ImageInsertModel
@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
<p>practicing to open the profile page from the profile photo on the upper righthand side of navigation panel.</p>