@page
@model DocPatientPortal.Views.Feedback.doctorfeedbackModel
@{
    Layout = "_LayoutDoctor";
}
<br />
<div class="card">
    Feedback:
    <div class="col-4">
        <textarea></textarea>
        <a href="#" class="btn btn-primary">Send</a>
    </div>

</div>