@page
@model DocPatientPortal.Views.CustomerFeedback.IndexModel
@{
    Layout = "_LayoutPatient";

    //how to filter the layout according to the role. i.e if user the user_layout if admin admin_layou.
    //1. we can overcome using the third layout. i.e. same layout for user/admin.
}
<br />
<div class="card">
    Feedback:
    <div class="col-4">
        <textarea></textarea>
        <a href="#" class="btn btn-primary">Send</a>
    </div>

</div>